<div>
  <label for="searchInput">Search:</label>
  <input type="text" id="searchInput" [(ngModel)]="searchTerm" (input)="updateFilteredProducts()">
</div>

<div>
  <label for="categorySelect">Choissisez une catégorie:</label>
  <select id="categorySelect" [(ngModel)]="selectedCategory" (change)="updateFilteredProducts()">
    <option value="">Tous</option>
    <option *ngFor="let category of categories" [value]="category.nomCategory">{{ category.nomCategory }}</option>
  </select>
</div>

<div *ngFor="let product of filteredListProduct" [style]="{ width: '300px' }">
  <p-card header="{{product.name}}">
    <ng-template pTemplate="header">
      <img [src]="product.imageUrl" alt="Card"/>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button label="Ajouter" icon="pi pi-check"></p-button>
    </ng-template>
  </p-card>
</div>
