<p-table
        [value]="requests"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10,15,20]"
        [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Utilisateur</th>
          <th>Requêtes</th>
          <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request>
      <tr>
        <td>{{ request.idRequest }}</td>
        <td>{{ request.user.firstName }} {{request.user.surName}}</td>
        <td>{{ request.requestBody }}</td>
        <td style="width: 1%; white-space: nowrap;">
          <p-button icon="pi pi-eye" (click)="showGet(request.idRequest)" styleClass="p-button-text p-button-secondary"></p-button>
          <p-button icon="pi pi-trash" (click)="showDelete(request.idRequest)" styleClass="p-button-text p-button-danger"></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3">Il n'y a pas de requêtes à traiter pour l'instant.</td>
      </tr>
    </ng-template>
</p-table>
