<div>
  <h3>Mes Commandes</h3>
  <table>
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Date</th>
      <th scope="col">Total</th>
      <th scope="col">Status</th>
      <th scope="col">Archivé</th>
      <th scope="col">Client</th>
    </tr>
    </thead>
    <tbody>
      @for (order of orders; track order.idOrder) {
        <tr (click)="viewOrder(order.idOrder)">
          <th>{{order.idOrder}}</th>
          <td>{{order.orderDate}}</td>
          <td>{{order.totalPrice}}</td>
          <td>{{order.orderIsReady}}</td>
          <td>{{order.isArchived}}</td>
          <td>{{order.customer}}</td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4">Pas encore de commande</td>
        </tr>
      }
    </tbody>
  </table>
</div>
