<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of shops">
      <div class="col-md-4 mb-4">
        <p-card (click)="goToShopPage(item.idShop)" [style]="{'width': '100%', 'border': '1px solid #dee2e6', 'border-radius': '8px', 'box-shadow': '0 4px 8px rgba(0, 0, 0, 0.1)'}">
          <ng-template pTemplate="header">
            <img alt="Card" [src]="item.pictureUrl" class="card-img-top" style="border-radius: 8px 8px 0 0;">
          </ng-template>
          <ng-template pTemplate="body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text"><strong>Location:</strong> {{ item.address.city }}</p>
            <p class="card-text">{{ item.description }}</p>
          </ng-template>
        </p-card>
      </div>
    </ng-container>
  </div>
</div>
