<div class="card" *ngIf="reservations">
  <p-dataView #dv [value]="reservations" emptyMessage="Aucun produit dans votre panier !">
    <ng-template pTemplate="header">
      <div class="flex-container">
        <div class="flex-left">
          <h1>Votre panier</h1>
          <p>Votre panier coûte : {{totalPrice}} €</p>
        </div>
        <p-button *ngIf="currentShop" class="mr-1" label="Votre maraicher : {{currentShop.name}}" (click)="goToShopPage()"></p-button>
        <p-button label="Finaliser le panier" class="mr-1" (click)="goToOrderPage()" [disabled]="reservations.length<1"></p-button>
        <p-button severity="danger" label="Supprimer tout le panier" class="mr-1" (click)="deleteShoppingCart()"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="list" let-products>
      <div class="grid grid-nogutter">
        <div class="col-12" *ngFor="let item of reservations; let first = first">
          <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4" [ngClass]="{ 'border-top-1 surface-border': !first }">
            <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="item.product.imageUrl" [alt]="item.product.name" />
            <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
              <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                <div class="text-2xl font-bold text-900">{{ item.product.name }}</div>
                <div class="flex align-items-center gap-3">
                                    <span class="flex align-items-center gap-2">
                                        <i class="pi pi-tag"></i>
                                        <span class="font-semibold">{{ item.product.category.nomCategory }}</span>
                                    </span>
                </div>
              </div>
              <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                <p>{{ item.product.unity ? (item.reserveQuantity > 1 ? item.reserveQuantity + ' unités' : item.reserveQuantity + ' unité') : item.reserveQuantity + ' kg' }} réservé</p>
                <p>Côut : {{item.product.price * item.reserveQuantity}} €</p>
              </div>
              <div class="flex align-items-center justify-content-between">
                <div class="flex align-items-center gap-2">
                  <p-inputNumber [(ngModel)]="inputValues[item.idReservation]" [min]="1" [max]="item.reserveQuantity" *ngIf="item.product.unity" size="3"></p-inputNumber>
                  <p-inputNumber [(ngModel)]="inputValues[item.idReservation]" [min]="1" [max]="item.reserveQuantity" *ngIf="!item.product.unity" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" size="3"></p-inputNumber>
                  <button pButton icon="pi pi-minus" class="p-button-rounded p-button-info" (click)="updateReservation(item.idReservation, item.reserveQuantity)"></button>
                  <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteReservation(item.idReservation)"></button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
