
<!--<div *ngFor="let shop of shops">-->
  <p-card header="Chez Patoche" [style]="{'width' : '25rem', 'margin-bottom' : '2em'}">

    <ng-template pTemplate="header">
      <img alt="Patrick.png" src="../../assets/images/shop/Patrick.jpg">
    </ng-template>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    <ng-template pTemplate="footer">
      <p-button label="Consulter ce maraicher" icon="pi pi-check"></p-button>
      <!--<p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>-->
    </ng-template>

  </p-card>
<!--</div>-->
