<p-table
        [value]="categories"
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10,20]"
        [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
        <tr>
            <td>{{ category.idCategory}}</td>
            <td>{{ category.nomCategory}}</td>
            <td style="width: 1%; white-space: nowrap;">
                <p-button
                    icon="pi pi-trash"
                    (click)="showDelete(category.idCategory)"
                    styleClass="p-button-text p-button-danger">
                </p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="3">Il n'y a aucune catégorie existante</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button (click)="showAdd()" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>
