<!--
<p-card header="Chez Patoche" [style]="{'width' : '20rem', 'margin-bottom' : '1em'}">

  <ng-template pTemplate="header">
    <img alt="Patrick.png" src="../../assets/images/shop/Patrick.jpg">
  </ng-template>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
  <p-button label="Consulter ce maraicher" icon="pi pi-check"></p-button>

</p-card>
-->

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card with stretched link</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
  </div>
</div>
