<div>
  <h3>Commande n° : {{order.idOrder}}</h3>
  <table>
    <thead>
    <tr>
      <th>Nom du produit</th>
      <th>Prix à l'unité / au poids</th>
      <th>Quantité</th>
    </tr>
    </thead>
    <tbody>
      @for (product of order.orderProducts; track product.id) {
        <tr>
          <th>{{product.name}}</th>
          <td>{{product.price}}</td>
          <td>{{product.quantity}}</td>
        </tr>
      }
    </tbody>
  </table>
  <button
    class="btn btn-succes text-light fw-bold"
    (click)="ReadyOrder()"
  >
    Commande prête
  </button>
  <button
    class="btn btn-dark"
    (click)="ArchiveOrder()"
  >
    Archiver la commande
  </button>
  <a class="btn btn-primary" routerLink="/order/list">Retour à la liste</a>
</div>
